:root {

  /* Colors Ligth */
  --primary-color: #026EED;
  --secundary-color: #56A5F1;
  --ligth-color: #FFFFFF;
  --button-color: #38a0d8e4;  
  --body-color: radial-gradient(#D5F3FF, #51B4E8);
  --card-color: radial-gradient(#e5f2ffa3, #d5f3ffb6);
  /* Colors Dark */
  --button-color-dark: #7D69F1;

  /* Font and typography */
  --font: 'Lato', sans-serif;
  --T1: 95px;
  --T2: 50px;
  --T3: 23px;
  --T4: 18px;
  --T5: 16px;
  --T6: 12px;
  
  /* Font weight */
  --font-tiny: 300;
  --font-normal: 400;
  --font-medium: 700;
  --font-bold: 900;
  
  /* z-index */
  --z-fixed: 1;
  --z-modal: 2;
}

/* ======= BASE ======== */
html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

button,
input,
textarea {
  font-family: var(--font);
  font-size: var(--T3);
}

body {
  /* background: var(--body-color); */
  background: url('/img/ModoLight.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: var(--font);
  font-size: var(--T3);
  font-weight: var(--font-normal);
  color: var(--primary-color);

}

h1,
h2,
h3,
h4 {
  font-family: var(--font);
  color: var(--primary-color);
  font-weight: var(--font-medium);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  user-select: none;
}

/* scroll bar */
::-webkit-scrollbar {
  width: .6rem;
  background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
}

/* selection */
::selection {
  background-color: var(--primary-color);
  color: var(--body-color);
}

/* Component Weather */

.title {
  color: var(--ligth-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-shadow: 2px 2px 3px #0055b5;
}

.main {
  color: var(--secundary-color);
}

.changeTemp {
  color: var(--ligth-color);
}

.weather__wrapper{
  margin: 20px;
  display: grid;
  grid-template-rows: 150px 1fr 150px;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
}

.container__weather {
  background: var(--card-color);
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  border-top-right-radius: 80% 45%;
  height: 200px;
  width: 300px;
  box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.container__weather{
  position: relative;
}

.icon {
  width: 150px;
  position: absolute;
  top: -30px;
  right: -10px;
}

.header {
  font-size: var(--T2);
  margin-top: -10px;
}

.info {
  font-size: var(--T6);
  margin: 5px 0;
  color: #0055b5;
}

.button {
  display: flex;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.2);
  
}

.changeTemp {
  width: 180px;
  height: 38px;
  background-color: var(--button-color);
  border-radius: 10px;
  font-size: var(--T5);
  transition: filter .2s ease-in-out;
}

.changeTemp:hover {
  filter: brightness(1.2);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.footer {
  font-size: var(--T4);
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.description {
  font-size: var(--T5);
  
}

@media (min-width: 768px) {
  .title{
    position: relative;
    left: -150px ;
  }

}

@media (min-width: 1024px) {
  .title{
    position: relative;
    left: -300px ;
  }

}